/* FIRST PAGE */
.wrapper{
    background-image: url("../images/Group\ 29.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: contain;
    background-color: #222221;
  
    
    height: 790px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gitText-first, .linkedText{
    font-family: var(--paraG-font);
    font-size: 1.1em;
    color: #FFF403;
    display: flex;
    justify-content: center;
  }
  
  .github-first{
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .linkedin-first{
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 100%;
    }
    .container-index{
      background-image: url("../images/Group\ 31.png");
      background-position: center center;
      background-attachment: fixed;
      background-size: contain;
      background-repeat: no-repeat; background-size: cover;
    }
    .burger{
      padding-left: 87vw;
    }
    .index-header{
       font-size: 1.5em;
    }
    .index-2{
      font-size: 1em;
    }
    .index-name{
      font-size: 2.8em;
      padding-top: 15px;
    }
   
   
  
  }  