/* FIRST PAGE */
.wrapper-index{
   /*background-image: url("../images/corkBackground.png");
  
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;*/
    background-color: #ececeb;
    background-image: linear-gradient(rgba(67, 68, 67, 0.581) .1em, transparent .1em), linear-gradient(90deg, rgba(67, 68, 67, 0.581) .1em, transparent .1em);
    background-size: 5em 5em;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 700px) {
    html {
      font-size: 100%;
    }
    .index-header{
       font-size: 1.5em;
    }
    .index-2{
      font-size: 1em;
    }
    .index-name{
      font-size: 2.8em;
      padding-top: 15px;
    }
   
   
  
  }  