/*ABOUT PAGE*/
.wrapper-about{
    height: 790px;
    display: flex;
   
    
  }
  .index-name{
    font-family: var(--paraG-font);
    color: #292929;
    font-size: 5em;
    letter-spacing: 0.02em;
    padding-left: 10vw;
    
    }
    
    .index-header, .index-2{
      font-family: var(--paraG-font);
      color: #292929;
      font-size: 3.5em;
      font-weight: normal;
      padding-left: 10vw;
      padding-bottom: 12vh; 
    }
  
  .text-container{
   
    background-color: #FFF403;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: start;
    justify-items: start;
    align-items: start;
    
    
  }
  .profile-container{
    width: 270px;
    height: 270px;
    background-color: #fafc7e;
    box-shadow: 15px 15px 15px #313131;
  }
  .profile{
    
    width: 250px;
    height: 250px;
    margin: auto 0;
  }
  .text-head{
    background-color: #fafc7e;
    padding: 10px 0 10px 0;
    font-weight: 600;
    box-shadow: 15px 15px 15px #313131;
    font-family: var(--paraG-font);
    color: #292929;
  }
  .text-head h2{
    padding-left: 10px;
    
  }
  .text-head p{
    padding: 10px;
    width: 275px;
    
    
  }
  @media only screen and (max-width: 700px){
    /*ABOUT MOBILE*/
    .wrapper-about{
      background-image: url("../images/Group\ 32.png");
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat; 
      background-size: cover;
      
    }
    .profile-container{
      width: 180px;
      height: 180px;
    }
    .profile{
    
      width: 150px;
      height: 150px;
      margin: auto 0;
    }
    .text-container{
      display: grid;
      grid-template-columns: repeat(1, 200px);
      grid-auto-rows: minmax(200px, auto);
      width: 250px;
      height: 400px;
      font-size: 0.6em;
    }
    .text-head{
      padding-top: 10px;
      font-size: 1.2em;
      padding: 5px;
      width: 180px;
      height: 235px;
  
    }
    .text-head p{
      height: 250px;
      width: 150px;
    }
  }