/*ABOUT PAGE*/
.wrapper-about{
  display: flex;
 
}
  .index-name{
    font-family: var(--paraG-font);
    color: #222221;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 0.02em;
    }
    
    .index-header, .index-2{
      font-family: var(--paraG-font);
      color: #222221;
      font-size: 1.5em;
      font-weight: 300;
    }
  
  .text-container{
    opacity: 1;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: start;
    justify-items: start;
    align-items: start;
    margin-left: 20px;
    gap: 10px;
  }
  .profile-container{
    width: 250px;
    height: 200px;
    background-color: #b3eeff;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }
  .profile-container{
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }

  .profile{
    width: 250px;
    height: 250px;
    margin: auto 0;
  }
  .text-head{
    background-color: #a3ffb1 ;
    padding: 10px 0 10px 0;
    font-weight: 300;
    font-family: var(--paraG-font);
    color: #222221;
    font-size: 16px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
    transform:rotate(2deg);
    transition: transform .15s linear;
  }
  #contact{
    /*background-color: #fbad4b;*/
    transform:rotate(-2deg);
    transition: transform .15s linear;
  }
  .text-head:hover, .profile-container:hover, #contact:hover{
    transform: scale(1.1);
  }
  .text-head h2, h3, p{
    padding: 10px;
  
  }
  .text-head p{
    padding: 10px;
    width: 275px;
  }
  .mail{
   font-size: 20px;
  }
  .gitText, .linkedText{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
  }

  .gitText svg:hover{
    transform: scale(.9);
  }
 
  .projectArrow{
  
      width: 100%;
      margin: 10px 0 0 5vw;
      position: relative;
      top: -40px;
  
  
  }
  .doodle{
    width: 200px;
    height: 450px;
    position: absolute;
    left: 80vw;
    margin-top: 160px;
  }

  @media only screen and (max-width: 900px){
 
    .profile{
    
      margin: auto 0;
    }
    .text-container{
      position: fixed;
      
    }
    .text-head{
      padding-top: 10px;
      font-size: 1.2em;
      padding: 5px;
  
  
    }
   .doodle{
    position: relative;
    margin: auto;
    left: 0vw;
   }
  }
  @media only screen and (max-width: 500px){
       
    .text-container{
      opacity: 1;
      height: 600px;
      display: grid;
      grid-template-columns: 100px;
      justify-content: start;
      justify-items: start;
      align-items: start;
      margin-left: 20px;
      gap: 10px;
    }
  }
