/*ABOUT PAGE*/
.wrapper-about{
  display: flex;
}
  .index-name{
    font-family: var(--paraG-font);
    color: #222221;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 0.02em;
    }
    
    .index-header, .index-2{
      font-family: var(--paraG-font);
      color: #222221;
      font-size: 1.5em;
    }
  
  .text-container{
    opacity: 1;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: start;
    justify-items: start;
    align-items: start;
    margin-left: 20px;
    gap: 10px;
  }
  .profile-container{
    width: 250px;
    height: 200px;
    background-color: #fff740;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }
  .profile-container{
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }

  .profile{
    width: 250px;
    height: 250px;
    margin: auto 0;
  }
  .text-head{
    background-color: #fff740;
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-family: var(--paraG-font);
    color: #222221;
    font-size: 16px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
    transform:rotate(2deg);
    transition: transform .15s linear;
  }
  #contact{
    /*background-color: #fbad4b;*/
    transform:rotate(-2deg);
    transition: transform .15s linear;
  }
  .text-head:hover, .profile-container:hover, #contact:hover{
    transform: scale(1.1);
  }
  .text-head h2, h3, p{
    padding: 10px;
  
  }
  .text-head p{
    padding: 10px;
    width: 275px;
  }
  .mail{
   font-size: 20px;
  }
  .gitText, .linkedText{
    padding: 10px 0 10px 0;
    display: flex;
    /* color: #222221; */
    justify-content: center;
  
  }
  
  .github{
    width: 5vw;
    height: 6vh;
    
  }
  .linkedin{
    width: 5vw;
    height: 6vh;
    
  }
  @media only screen and (max-width: 700px){
    .profile-container{
      width: 180px;
      height: 180px;
    }
    .profile{
    
      width: 150px;
      height: 150px;
      margin: auto 0;
    }
    .text-container{
      display: grid;
      grid-template-columns: repeat(1, 200px);
      grid-auto-rows: minmax(200px, auto);
      width: 250px;
      height: 400px;
      font-size: 0.6em;
    }
    .text-head{
      padding-top: 10px;
      font-size: 1.2em;
      padding: 5px;
      width: 180px;
      height: 235px;
  
    }
    .text-head p{
      height: 250px;
      width: 150px;
    }
  }