/*CONTACT PAGE*/
.wrapper-contact{
    background-image: url("../images/Group\ 30.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: #292929;
    
    height: 770px;
  }
  .contact-container{
    background-color: #fafc7e;
    width: 30vw;
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 15px;
    box-shadow: 15px 15px 15px #292929;
  }
  .text-contact{
    margin: auto;
    background-color: #FFF403;
    width: 40vw;
    height: 600px;
    box-shadow: 15px 15px 15px #292929;
    
   
  }
  .text-contact h1{
    font-family: var(--header-font);
    color: #292929;
    font-size: 1.9em;
  }
  .text h2{
    font-family: var(--paraG-font);
    font-weight: 600;
    color: #292929;
    font-size: 1.3em;
  }
  
  .gitText, .linkedText{
    font-family: var(--paraG-font);
    font-size: 1.1em;
    color: #292929;
  
  }
  
  .github{
    width: 5vw;
    height: 6vh;
    
  }
  .linkedin{
    width: 5vw;
    height: 6vh;
    
  }
  @media only screen and (max-width: 700px){
      /*CONTACT MOBILE*/
  .wrapper-contact{
    background-image: url("../images/Group\ 34.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 700px;
    display: flex;
  }
  .contact-container{
    width: 60vw;
  }
  .text-contact{
  margin: auto;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 0.7em;
  }
  .github, .linkedin{
    width: 6vw;
    padding: 3px;
  }
  }