@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
  --header-font: 'DM Serif Display', serif;
  --paraG-font:  'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* HEADER */
ul
.header{
  position: fixed;
  top: 0;
  }

 .wrapper-index{
   background-color: #808080;
  
 }

/* FIRST PAGE */
.container-index{
  background-image: url("../images/Group\ 26.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: contain;
  background-color: #292929;
  
  height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-name{
font-family: var(--header-font);
color: #FFF403;
font-size: 5em;
letter-spacing: 0.02em;
padding-left: 10vw;

}

.index-header, .index-2{
  font-family: var(--paraG-font);
  color: #EAE3FF;
  font-size: 3.5em;
  font-weight: normal;
  padding-left: 10vw;
  padding-bottom: 12vh; 
}
.gitText-first, .linkedText{
  font-family: var(--paraG-font);
  font-size: 1.1em;
  color: #FFF403;
  display: flex;
  justify-content: center;
}

.github-first{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.linkedin-first{
  width: 50px;
  height: 50px;
  margin: 10px;
}



/*ABOUT PAGE*/
.wrapper-about{
  background-image: url("../images/Group\ 28.png");
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: contain;
  background-color: #292929;
  
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.border-about{
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #FFF403;
}

.text-container{
 
  background-color: #FFF403;
  
  width: 650px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: start;
  justify-items: start;
  align-items: start;
  
  
}
.profile-container{
  width: 270px;
  height: 270px;
  background-color: #fafc7e;
  box-shadow: 15px 15px 15px #313131;
}
.profile{
  
  width: 250px;
  height: 250px;
  margin: auto 0;
}
.text-head{
  background-color: #fafc7e;
  padding-top: 65px;
  font-weight: 600;
  box-shadow: 15px 15px 15px #313131;
  width: 300px;
  font-family: var(--paraG-font);
  color: #292929;
}
.text-head h2{
  padding-left: 10px;
  
}
.text-head p{
  padding: 10px;
  width: 275px;
  height: 300px;
  
}

/*PROJECT PAGE*/
.border-proj{
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: #9c60d4; 
}
.wrapper-projects{
  background-image: url("../images/Group\ 29.png");
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: contain;
  background-color: #292929;
  
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-projects{
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  gap: 70px;
  grid-auto-rows: minmax(33.3%, auto);
  margin: 10%;
  justify-content: center;
  justify-items: start;
  align-content: center;
  height: 50%;
}

.projOne{
  background-color:#FFF403;
 
  font-family:var(--paraG-font);
 
  width: 300px;
  
  display: grid;
  justify-items: center;
  align-content: center;
  cursor: pointer;
  border-radius: 0;
}
.projOne:hover{
  color: #FFF403;
  background-color: #292929;
}

/*MODALS*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal {
  z-index: 100;
  background: #fafc7e;
  margin: 15rem auto;
  border-radius: 3px;
  max-width: 517px;
  padding: 2rem;
  color: #292929;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
}
.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #292929;
  background-color: #fafc7e;
  cursor: pointer;
  border: none;
}
button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}
.modal-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.img-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
}
.img1-flex{
  display: flex;
  width: 75%;
  height: 150px;
  flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.proj-text{
  font-family: var(--paraG-font);
  font-weight: 600;
  width: 75%;
}
ul{
  list-style-type: disc;
}
.proj-link{
  font-family: var(--paraG-font); 
  color: #292929;
}
.proj-head{
  font-family: var(--paraG-font);
  font-weight: bold;
  color: #292929;
  
}

/*CONTACT PAGE*/
.wrapper-contact{
  background-image: url("../images/Group\ 30.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #292929;
  
  height: 770px;
}
.contact-container{
  background-color: #fafc7e;
  width: 30vw;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap: 15px;
  box-shadow: 15px 15px 15px #292929;
}
.text-contact{
  margin: auto;
  background-color: #FFF403;
  width: 40vw;
  height: 600px;
  box-shadow: 15px 15px 15px #292929;
  
 
}
.text-contact h1{
  font-family: var(--header-font);
  color: #292929;
  font-size: 1.9em;
}
.text h2{
  font-family: var(--paraG-font);
  font-weight: 600;
  color: #292929;
  font-size: 1.3em;
}

.gitText, .linkedText{
  font-family: var(--paraG-font);
  font-size: 1.1em;
  color: #292929;

}

.github{
  width: 5vw;
  height: 6vh;
  
}
.linkedin{
  width: 5vw;
  height: 6vh;
  
}



@media only screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }
  .container-index{
    background-image: url("../images/Group\ 31.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat; background-size: cover;
  }
  .burger{
    padding-left: 87vw;
  }
  .index-header{
     font-size: 1.5em;
  }
  .index-2{
    font-size: 1em;
  }
  .index-name{
    font-size: 2.8em;
    padding-top: 15px;
  }
  /*ABOUT MOBILE*/
  .wrapper-about{
    background-image: url("../images/Group\ 32.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    
  }
  .profile-container{
    width: 180px;
    height: 180px;
  }
  .profile{
  
    width: 150px;
    height: 150px;
    margin: auto 0;
  }
  .text-container{
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-auto-rows: minmax(200px, auto);
    width: 250px;
    height: 400px;
    font-size: 0.6em;
  }
  .text-head{
    padding-top: 10px;
    font-size: 1.2em;
    padding: 5px;
    width: 180px;
    height: 235px;

  }
  .text-head p{
    height: 250px;
    width: 150px;
  }
  
  /*PROJECT MOBILE*/
  .wrapper-projects{
    background-image: url("../images/Group\ 33.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    
  }
  .container-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 57px;
  }
  .proj{
    display: flex;
    width: 150px;
    height: 200px;
  }
  .projOne{
    width: 150px;
    height: 50px;
    padding-top: 0px;
    font-size: 0.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .project-head{
    display: none;
  }

  /*CONTACT MOBILE*/
  .wrapper-contact{
    background-image: url("../images/Group\ 34.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 700px;
    display: flex;
  }
  .contact-container{
    width: 60vw;
  }
  .text-contact{
  margin: auto;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 0.7em;
  }
  .github, .linkedin{
    width: 6vw;
    padding: 3px;
  }
}
